.contenedor__formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background-image: url('/assets/images/background.webp');
  background-position: center;
  background-size: cover;
  background-color: rgb(247, 245, 245);
}



.form__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  flex-direction: column;
  gap: 30px;
  background: rgb(247, 245, 245);
  padding: 20px;
  width: 430px;
  box-shadow: 8px 8px 20px 0.5px #ccc;
  border-radius: 15px;
  position: relative;
}

.logo__img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -90px;
  border-radius: 50%;
  box-shadow: 8px 8px 20px 0.5px #ccc;
  padding: 10px;
}

.inputBox {
  position: relative;
  width: 350px;
}

.inputBox .form__inputs {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(160, 157, 157, 0.25);
  background: rgba(160, 157, 157, 0.25);
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  transition: 0.5s;

}

.inputBox .form__span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #0a0a0a;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox .form__inputs:valid~.form__span,
.inputBox .form__inputs:focus~.form__span {
  color: #0a0a0a;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  border-left: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
  letter-spacing: 0.2em;
}

.inputBox:nth-child(2) .form__inputs:valid,
.inputBox:nth-child(2) .form__inputs:focus {
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #1d2b3a;
  border-radius: 2px;
}

.inputBox .form__inputs:valid,
.inputBox .form__inputs:focus {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.texto {
  font-size: 12px;
  text-align: center;

  .texto__span {
    color: #337ab7;
  }
}

.titulo__texto {
  padding-top: 100px;
  font-size: 2em;
}
