<section class="contenido__general">
  <app-planning-header-menu></app-planning-header-menu>
  <h2 class="titulo">Planeación</h2>
  <p class="instrucciones mb-5">En esta sección se define quien es el comprador, se da a conocer el presupuesto y el uso
    que se le asignará </p>
  <div class="contenedor">
    <form (ngSubmit)="crearBuyer()" autocomplete="off" [formGroup]="buyerForm">
      <fieldset>
        <legend>Comprador</legend>
        <div class="row completo">
          <div class="col-md-3 mitad">
            <div class="mb-2">
              <mat-form-field class="example-form p50p">
                <mat-label>Nombre del Comprador</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="campoNoValido('name')">El Campo Nombre es Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3 mitad">
            <div class="mb-3">
              <mat-form-field class="example-form p50p">
                <mat-label>RFC</mat-label>
                <input type="text" matInput formControlName="id">

                <mat-error *ngIf="campoNoValido('id')">Formato de RFC invalido
                </mat-error>
              </mat-form-field>
            </div>

          </div>
        </div>
      </fieldset>
      <mat-divider></mat-divider>
      <br>
      <fieldset>
        <legend>Presupuesto</legend>
        <div class="row completo">
          <div class="col-md-3 mitad">
            <div class="mb-2">
              <mat-form-field class="example-form p50p">
                <mat-label>Descripción</mat-label>
                <input type="text" matInput formControlName="description">
                <mat-error *ngIf="campoNoValido('description')">Este Campo Es Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3 mitad">
            <div class="mb-3">
              <mat-form-field class="example-form p50p">
                <mat-label>URL de la clave presupuestal</mat-label>
                <input type="text" matInput formControlName="uri">
                <mat-error *ngIf="campoNoValido('uri')">El Campo Nombre es Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>


          <div class="col-md-3 mitad">
            <div class="mb-3">
              <mat-form-field class="example-form p50p">
                <mat-label>Monto</mat-label>
                <input type="number" matInput formControlName="amount">
                <mat-error *ngIf="campoNoValido('amount')">El Campo Nombre es Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3 mitad">
            <div class="mb-3">
              <mat-form-field class="example-form p50p">
                <mat-label>Tipo de Moneda</mat-label>
                <mat-select matNativeControl formControlName="currency">
                  <mat-option *ngFor="let moneda of monedas" [value]="moneda.value">
                    {{moneda.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="campoNoValido('currency')">El Campo Nombre es Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="form-group mt-3 d-flex justify-content-end" *ngIf="ocid != null">
      <button class="btn btn-primary" (click)="forward()">
        << </button>
          <button (click)="crearBuyer()" class="btn btn-success center-block mx-1" [disabled]="buyerForm.invalid"
            *ngIf="btnGuardar">Guardar</button>
          <button (click)="ActualizarBuyer(buyer_id)" class="btn btn-warning center-block mx-1" [disabled]="buyerForm.invalid"
            *ngIf="btnActualizar">Actualizar</button>
          <button class="btn btn-primary" *ngIf="btnSiguiente" (click)="next()">>></button>
    </div>
  </div>

  <!-- <span>Valid</span>
    <pre>{{buyerForm.valid}}</pre>
    <br>
    <span>value</span>
    <pre>{{buyerForm.value | json}}</pre> -->





</section>
