<section class="contenido__general">
  <h2 class="titulo">CONTRATACIÓN</h2>
  <p class="instrucciones mb-5">En esta sección se define quiénes van a participar para poder acceder a
    proveer el material requerido, al igual que se definirá este mismo material junto con sus características
    y se dará a conocer todos los periodos de la licitación y sus documentos respectivos.</p>

  <div class="datos" *ngIf="datosContract">
    <!-- <h2 class="mb-3">CONTRATANTE</h2> -->


    <div class="contenedor">
      <form (ngSubmit)="crearContract()" autocomplete="off" [formGroup]="contractForm">
        <fieldset>
          <legend>Contrato</legend>
          <div class="row completo">
            <div class="col-md-3 mitad">
              <div class="mb-2">
                <mat-form-field class="example-form p50p">
                  <mat-label>Título</mat-label>
                  <input type="text" matInput class="example-right-align" formControlName="title">
                  <mat-error *ngIf="campoNoValido('title')">Este Campo Es Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3 mitad">
              <div class="mb-3">
                <mat-form-field class="example-form p50p">
                  <mat-label>Description</mat-label>
                  <input type="text" matInput class="example-right-align" formControlName="description">
                  <mat-error *ngIf="campoNoValido('description')">Este Campo Es Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row completo">
            <div class="col-md-3 mitad">
              <div class="mb-3">
                <mat-form-field class="example-form p50p">
                  <mat-label>Estatus</mat-label>
                  <mat-select matNativeControl formControlName="status">
                    <mat-option *ngFor="let format of estatus" [value]="format.value">
                      {{format.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="campoNoValido('status')">El Campo Nombre es Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3 mitad">
              <div class="mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Fecha de Inicio</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="dateSigned">
                  <mat-hint>YY/MM/DD</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Valor de la Contratación</legend>
          <div class="row completo">
            <div class="col-md-3 mitad">
              <div class="mb-2">
                <mat-form-field class="example-form p50p">
                  <mat-label>Monto</mat-label>
                  <input type="number" matInput class="example-right-align" formControlName="amount">
                  <span matPrefix>$&nbsp;</span>
                  <mat-error *ngIf="campoNoValido('amount')">Este Campo Es Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3 mitad">
              <div class="mb-3">
                <mat-form-field class="example-form p50p">
                  <mat-label>Moneda</mat-label>
                  <mat-select matNativeControl formControlName="currency">
                    <mat-option *ngFor="let format of moneda" [value]="format.value">
                      {{format.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="campoNoValido('currency')">El Campo Nombre es Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Número De Contratación</legend>
          <div class="row completo">
            <div class="col-md-6 mitad">
              <div class="mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Fecha de Inicio</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="startDate">
                  <mat-hint>YY/MM/DD</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="campoNoValido('startDate')">Este Campo Es Obligatorio
                </mat-error>
              </div>
            </div>
            <div class="col-md-6 mitad">
              <div class="mb-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Fecha de Termino</mat-label>
                  <input matInput [matDatepicker]="picker3" formControlName="endDate">
                  <mat-hint>YY/MM/DD</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker3">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="campoNoValido('endDate')">Este Campo Es Obligatorio
                </mat-error>
              </div>
            </div>
            <div class="col-md-3 mitad">
              <div class="mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Extensión Máxima</mat-label>
                  <input matInput [matDatepicker]="picker4" formControlName="maxExtentDate">
                  <mat-hint>YY/MM/DD</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker4">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="campoNoValido('maxExtentDate')">Este Campo Es Obligatorio
                </mat-error>
              </div>
            </div>
          </div>
        </fieldset>


      </form>


      <div class="form-group mt-3 d-flex justify-content-end" *ngIf="ocid != null">
        <button class="btn btn-primary" (click)="forward()">
          << </button>
            <button (click)="crearContract()" class="btn btn-success center-block mx-1"
              [disabled]="contractForm.invalid" *ngIf="btnGuardar">Guardar</button>
            <button (click)="cancel()" class="btn btn-danger center-block mx-1" [disabled]="contractForm.invalid"
              *ngIf="btnCancelar">Cancelar</button>
            <button (click)="updateIdentifie()" class="btn btn-warning center-block mx-1"
              [disabled]="contractForm.invalid" *ngIf="btnActualizar">Actualizar</button>
              <button class="btn btn-primary mx-1" *ngIf="btnDocumentos" (click)="next()"> Documentos </button>

            <button class="btn btn-primary" *ngIf="btnSiguiente" (click)="next()"> >> </button>
      </div>


    </div>


  </div>
  <!-- <span>Valid</span>
  <pre>{{contractForm.valid}}</pre>
  <br>
  <span>value</span>
  <pre>{{contractForm.value | json}}</pre> -->
</section>
