<app-funcionarios-index></app-funcionarios-index>
<div class="contenedor__administrador">

    <ul class="administrado__cuadro">
        <li class="administrador__item">
            <a class="administrador__link" [routerLink]="'/sea/funcionarios/administracion/ente-publico'">ADMINISTRADOR
                DE ENTE PÚBLICO</a>
        </li>
        <li class="administrador__item">
            <a class="administrador__link" [routerLink]="'/sea/funcionarios/administracion/oic-alertas'">ALERTA DE
                CONTRATOS</a>
        </li>

    </ul>
</div>