<section class="contenido__general">
  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">


    <mat-tab label="Planeación">
      <app-planing-reports></app-planing-reports>
    </mat-tab>
    <mat-tab label="Licitación">
      <app-tender-reports></app-tender-reports>
    </mat-tab> -->
    <mat-tab label="Adjudicación">
      <app-award-reports></app-award-reports>
    </mat-tab>

    <mat-tab label="Contrato">
      <app-contrat-reports></app-contrat-reports>
    </mat-tab>

    <mat-tab label="Contrato completo">
      <app-complete-reports></app-complete-reports>
    </mat-tab>


  </mat-tab-group>
</section>
