<app-headerPrincipal></app-headerPrincipal>

<section class="clear"></section>
<app-menubar></app-menubar>
<!-- <section class="vuelta">
  <a href="https://www.plataformadigitalestatalslp.org/Funcionarios/index.html"
    >Plataforma Digital Estatal</a
  >
  <i class="fa-solid fa-chevron-right"></i>
  <p>Sistema de Información Pública de Contrataciones</p>
</section> -->
<div class="informacion">
  <div class="imgCont">
    <!-- <img src="../../../../assets/images/logo_plataforma-11.webp" alt="" class="imgInf"> -->
  </div>
  <div class="divMenu"><a class="administrador__link" [routerLink]="'/sea/funcionarios/administracion/funcionario'">ADMINISTRADOR DE ENTE PÚBLICO</a>
  </div> 
  <div class="imgCont2">
    <!-- <img src="../../../../assets/images/estilo graf-54.png" alt="" class="imgInf"> -->
  </div>
</div>
<!-- <div class="button">
  <a routerLink="/auth/login"
    >Sistema de Información Pública de Contrataciones
  </a>
</div>
<section class="clear"></section> -->


 <!-- <div class="divMenu"><a class="administrador__link" [routerLink]="'/sea/funcionarios/administracion/funcionario'">ADMINISTRADOR DE ENTE PÚBLICO</a>
 </div> -->
  

