<div class="principal">
  <div class="{{deg}}"></div>
  <nav class="navigate">
      <div class="{{btn[0]}} btn-right"><a class="{{col[0]}}" routerLink="/sea/funcionarios/contrataciones/planeacion/inicio/ocds-7e7fnm-000-00001">Planeación</a></div>
      <div class="{{btn[1]}} btn-right"><a class="{{col[1]}}" routerLink="/sea/funcionarios/contrataciones/licitacion/inicio/ocds-7e7fnm-000-00001">Licitación</a></div>
      <div class="{{btn[2]}} btn-right"><a class="{{col[2]}}" routerLink="/sea/funcionarios/contrataciones/adjudicacion/inicio/ocds-7e7fnm-000-00001">Adjudicación</a></div>
      <div class="{{btn[3]}} btn-right"><a class="{{col[3]}}" routerLink="/sea/funcionarios/contrataciones/contrato/inicio/ocds-7e7fnm-000-00001">Contrato</a></div>
      <div class="{{btn[4]}} btn-right"><a class="{{col[4]}}" routerLink="/sea/funcionarios/contrataciones/sellado/ocds-7e7fnm-000-00001">Ejecución</a></div>
  </nav>
</div>
