<!-- <app-funcionarios-index></app-funcionarios-index> -->
<app-administracionente-index></app-administracionente-index>

<div class="contenedor__administrador">
    <ul class="administrado__cuadro">
        <li class="administrador__item">
            <a class="administrador__link" [routerLink]="'/sea/funcionarios/administracion/actores'">ACTORES
                INVOLUCRADOS</a>
        </li>
        <li class="administrador__item">
            <a class="administrador__link" [routerLink]="'/sea/funcionarios/inicio-contrato'">PLANEACIÓN DEL PROCEDIMIENTO</a>
        </li>
    </ul>
</div>