.green {
  color: green;
  text-align: center;
}
.red {
  text-align: center;
  color: rgb(228, 22, 57);
}


.link{
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.naranja{
  color: #FF6C32;
}
.verde{
  color: #198754
}
.alerta{
  font-size: 1.2em;
  color: white;
  background: rgb(244, 74, 74);
  padding: 15px;
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}
