.completo{
    width: 100%;
    .mitad{
        width: 100%;
        .p100p{
            width: 100%;
        }
    }
  }
  
  
  .texto{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: #198754;
  }
  mat-form-field {
    width: 100%;
  }
  
  .mayuscula{    
    text-transform: uppercase;} 
  