<!-- <app-header></app-header> -->

<section class="fondo">
  <div class="card">
    <!-- <img class="logo__img" src="assets/images/contratos.svg" alt=""> -->
    <div class="card__textos">
      <span>{{getEmail}}</span>
      <h1>cambio de contraseña</h1>
    </div>
    <form (ngSubmit)="changePass()" class="card__form" [formGroup]="NewPassForm" autocomplete="off" >
      <div class="inputBox">
        <input class="form__inputs" type="password" name="" id="" required formControlName="lastpassword">
        <span class="form__span">Contraseña Anterior</span>
      </div>
      <div class="inputBox">
        <input class="form__inputs" type="password" name="" id="" required formControlName="newpassword">
        <span class="form__span">Nueva Contraseña</span>
        <small *ngIf="campoNoValido('newpassword')" class="invalid-feedback d-block">Solo Se Permiten Contraseñas Con Letras y Números De 8 a 15 Caracteres (Omitir !#$%&/*ñ y acentos)</small>
      </div>
      <!-- <div class="inputBox">
        <input class="form__inputs" type="text" name="" id="" required>
        <span class="form__span">Repita Nueva Contraseña</span>
      </div> -->
      <div class="btnc">
        <button type="submit" value="Identificarse" class="btn btn-primary btn-block">Aceptar</button>
      </div>
    </form>
    <div class="card__textos">
      <p class="card__textos--bienvenida">
        Dado que es su primera vez en el sistema S6 se requerirá que cambie su
        contraseña por una segura, se recomienda anotarla y mantenerla en lugar
        seguro ya que en caso de olvidarla se deberá comunicar directamente al
        correo:
      </p>
      <span>sistemas@plataformadigitalestatalslp.org</span>
    </div>
  </div>
</section>

<!-- <app-footer></app-footer> -->
